Value Filldown PROCESS (\d+)
Value Filldown LOCAL_RID (\d+\.\d+\.\d+\.\d+)
Value AREA (\d+\.\d+\.\d+\.\d+)
Value INTF (\S+)
Value NEIGHBOR (\d+\.\d+\.\d+\.\d+)
Value STATE (\S+)

Start
  ^\s*OSPF Process ${PROCESS} with Router ID ${LOCAL_RID}
  ^\s*Area Id
  ^\s*${AREA}\s+${INTF}\s+${NEIGHBOR}\s+${STATE} -> Record
